/* -^------------------^-
 * Common
 * ---------------------- */
main section .section-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 72px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  main section .section-wrap {
    padding: 104px 32px;
  }
}

/* -^------------------^-
 * Parallax
 * ---------------------- */
#parallax .parallax-section {
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  z-index: -100;
}

#parallax .parallax-section img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

#parallax #hero-section-parallax {
  height: 100vh;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#parallax #hero-section-parallax img {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

/* -^------------------^-
 * Hero Section
 * ---------------------- */
#hero-section {
  width: 100%;
  min-height: 100vh;
}

#hero-section-inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#hero-section-text {
  width: 100%;
  color: #fff;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #hero-section-text {
    text-align: left;
  }
}

#hero-section-text h1 {
  margin: 0;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
}

@media screen and (min-width: 576px) {
  #hero-section-text h1 {
    font-size: 64px;
  }
}

@media screen and (min-width: 768px) {
  #hero-section-text h1 {
    font-size: 80px;
  }
}

#hero-section-text p {
  margin: 0 0 0 4px;
  font-size: 13px;
  font-weight: 400;
}

@media screen and (min-width: 576px) {
  #hero-section-text p {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  #hero-section-text p {
    font-size: 20px;
  }
}

/* -^------------------^-
 * Profile Section
 * ---------------------- */
#profile-section {
  color: #666;
  background: #fff;
}

#profile-section-inner {
  padding-bottom: 50%;
}

@media screen and (min-width: 768px) {
  #profile-section-inner {
    padding-bottom: 104px;
  }
}

#profile-section-inner svg {
  width: 50%;
  max-width: 560px;
  margin: auto;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  #profile-section-inner svg {
    left: 5%;
    right: auto;
  }
}

#profile-section-inner path {
  fill: #cb6266;
}

#profile-section-text {
  position: relative;
  z-index: 10;
  font-family: sofia-pro;
}

#profile-section-text h2 {
  width: 100%;
  max-width: 480px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 48px;
}

@media screen and (min-width: 768px) {
  #profile-section-text h2 {
    margin: 0 5% 40px auto;
    font-size: 64px;
    text-align: left;
  }
}

#profile-section-text dl {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  #profile-section-text dl {
    margin: 0 5% 0 auto;
  }
}

#profile-section-text dl dt {
  width: 25%;
  padding-left: 3px;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}

#profile-section-text dl dd {
  width: 70%;
  margin: 0 0 16px;
  padding-top: 6px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
